@if(User == null)
{
<main>
    <div class="jumbotron mt-3 bg-mishmash">
        <h1 class="text-white">Welcome to Mish-Mash Media Channels</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white"><a href="/Users/Login">Login</a> if you have an account.</h3>
        <h3 class="text-white"><a href="/Users/Register">Register</a> if you don't.</h3>
    </div>
</main>
}
@else
{
    @if(User.Roles.First() == "User")
    {
        <h1 class="text-center text-mishmash">Welcome, @User.Username</h1>
        <hr class="bg-mishmash" style="height: 2px" />
        <main>
            <div class="jumbotron bg-success text-white">
                <h1>Welcome, <span class="text-warning">@User.Username</span></h1>
                <hr class="bg-white" style="height: 2px" />
                <h2>IRunes wishes you a fun experience.</h2>
            </div>
        </main>
    }
    @else
    {
        <h1 class="text-center text-mishmash">Welcome, Admin-@User.Username</h1>
        <hr class="bg-mishmash" style="height: 2px" />
    }
}